$bblack : #261C21;
$bpurple : #660066;
$bblue : #456884;
$bbrown : #4E2E28;

$blue-sky : #299DB6;
$brown : #444444;

body {
	height: 100%;
	font-family: 'Roboto', sans-serif !important;
	color: $brown;
}

.navbar{
	font-size: 20px;
	#collapsable-navbar{
		line-height: 1.5em;	
	}
	.navbar-brand{
		height: auto; 
		#lff_logo{
			max-height:40px;
		}	
	}	
}

@mixin background-size($type) {
	-webkit-background-size: $type;
	-moz-background-size: $type;
	-o-background-size: $type;
	background-size: $type;
}



#header { 
	min-height: 15em;
	width: 100%;
	&.bg1{ 
		background-image: url("../img/graduation.jpg"); 
		background-position: center -350px;
		background-repeat: no-repeat;
		background-attachment: fixed;
		@include background-size(cover);
	}
}

@media (max-width: 768px) {
	min-height: 15em;
	width: 100%;
	.bg1{ 
		background-image: url("../img/graduation.jpg"); 
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		@include background-size(cover);
	}	
}

// Broken down belt colours
tr{
	&.black { 
		background-color: $bblack; 
		color:white; 
	}
	&.purple { 
		background-color: $bpurple; 
		color: white 
	}
	&.blue { 
		background-color: $bblue; 
		color: white; 
	}
	&.brown { 
		background-color: $bbrown; 
		color: white; 
	}
}

.footer { 
	margin: 50px 0;
	img { 
		max-height: 200px;
	}
}
