.footer { margin: 50px 0;}

.footer img { max-height: 200px;}

tr.black{ color:white; background-color: #261C21;}
tr.purple{background-color: #660066; color: white}
tr.blue{background-color: #456884; color: white;}
tr.brown{background-color: #4E2E28; color: white;}